.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.svg {
    max-width: 100%;
    max-height: 90vh;
    filter: drop-shadow(0 0 10px var(--color-gold));
}

.sefira {
    cursor: pointer;
}